.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 18px;
    margin-bottom: 15px;
  }
  
  .header-actions {
    padding-top: 15px;
  }
  
  .header-logo {
    flex-shrink: 0;
    margin-top: 10px;
  }
  
  .header-menu-list{
    display: flex;
    column-gap: 35px;
    justify-content: center;
  }
  
  .header-menu-link{
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    height: 60px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
  
  .header-menu-link.is-current::after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #F26A20;
    border-radius: 50%;
  }
  
  .header-actions {
    display: flex;
    
  }
  
  .choices{
  width: 200px;
  margin-bottom: 0;
  padding-right: 26px;
  }
  
  .choices.is-open {
    background-color: #ffffff;
    border-radius: var(--border-radius);
  }
  
  .choices__inner {
    position: relative;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    z-index: 2;
  }
  
  .is-focused .choices__inner, .is-open.choices__inner {
    border: 1px solid #F26A20
  }
       
  .is-open .choices__inner {
    border-radius: var(--border-radius);
  }
  
  .choices__list--dropdown {
    top: calc(100% - 30px);
    padding-top: 30px;
    width: 174px;
  }
  
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
  }
  
  .choices__list--dropdown.is-active {
    border: 1px solid #F26A20;
    border-top-width: 0;
    border-radius: var(--border-radius);
  }
  
  .choices__item.is-selected {
    display: none;
  }
  
  hr {
    margin: 0 0;
  }
  